
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/_LayoutPage1.cshtml";
}

<div class="banner">
    <div class="navbar">
        <img src="~/Images/Capture2-removebg-preview.png" class="logo">
        <img src="~/Images/Capture2-removebg-preview.png" class="logo2">
    </div>

    <div class="loginBox">
        <h1>Welcome!</h1>
        <div class="form-content">
            <form action="#" method="post">
                <div class="form-info">
                </div>
                <div class="Temail">
                    <input class="email" type="email" name="Email" placeholder="Email..." required="">
                </div>
                <div class="pass-w3l">
                    <input class="pass" type="password" name="Pwd" placeholder="Password..." required="">
                </div>
                <div class="submit-agileits">
                    <input class="login" type="submit" value="login">
                </div>
            </form>
        </div>
    </div>
</div>
