
h4, h5, h6,
h1, h2, h3 {
    margin: 0;
}

ul, ol {
    margin: 0;
}

p {
    margin: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
}

    body a {
        transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -ms-transition: 0.5s all ease;
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul, label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}
/*sidebar navigation*/
.side-bar {
    background: #8b5c7e;
    backdrop-filter: blur(15px);
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    overflow-y: auto;
}

.side-bar .menu{
    width:100%;
    margin-top:100px;
}

.side-bar .menu .item{
    position:relative;
    cursor:pointer;
}

    .side-bar .menu .item a {
        color: white;
        background-color: #8b5c7e;
        font-size:14px;
        text-decoration:none;
        display:block;
        padding:13px 10px;
          

        line-height:30px;
    }

        .side-bar .menu .item a:hover {
            background: #4F133D;
            transition: 0.3s ease;
        }
    .side-bar .menu .item i{
        margin-right:7px;
    }
    .side-bar .menu .item a .dropdown {
        position: absolute;
        right: 11px;
        top: 18px;
        margin: 2px;
        transition: 0.3s ease;
    }
    .side-bar .menu .item .sub-menu{
        background: rgba(255,255,255,0.1);
        display:none;
    }
        .side-bar .menu .item .sub-menu a{
            padding-left: 50px;
        }


::-webkit-scrollbar{
    display:none;
}


.rotate{
    transform:rotate(90deg);
}
        /*main content*/
        #main-content {
            margin-left: 240px;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

.footer {
    background: #d19a98;
    padding: 20px;
}

    .footer p {
        color: #fff;
        letter-spacing: 1px;
    }

        .footer p a {
            color: #744e7d;
        }

            .footer p a:hover {
                color: #fff;
            }

.header {
    left: 0;
    right: 0;
    z-index: 1002;
    background: #8b5c7e;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.merge-header {
    margin-right: 240px;
}

.fixed-top {
    position: fixed;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
    top: 0px;
}

.wrapper {
    display: inline-block;
    margin-top: 80px;
    padding: 15px;
    width: 100%;
}

.brand {
    background: #ffffff;
    float: left;
    width: 240px;
    height: 100px;
    position: relative;
}

.hdr {
    width: 160px;
    height: 110px;
    overflow: hidden;
    top: calc(-14px/2);
    left: calc(23% - 20px);
    position: absolute;
}

a.logo {
    font-size: 32px;
    color: #fff;
    float: left;
    margin: 20px 0 0 25px;
    text-transform: uppercase;
}

    a.logo:hover, a.logo:focus {
        text-decoration: none;
        outline: none;
    }

    a.logo span {
        color: #FF6C60;
    }
/*notification*/
#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

.notify-row {
    float: left;
    margin-top: 23px;
    margin-left: 25px;
}

ul.top-menu {
    margin-right: 15px;
    margin-top: 0;
}

    ul.top-menu > li > a {
        color: #000;
        font-size: 16px;
        background: #ffffff;
        padding: 4px 8px;
        margin-right: 15px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        padding-right: 8px !important;
    }

        ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
            background: #fa9fa4;
            text-decoration: none;
            color: #fff !important;
            padding-right: 8px !important;
        }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: #fa9fa4 !important;
    color: #fff !important;
}

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.dropdown-menu.extended {
    max-width: 320px !important;
    min-width: 160px !important;
    top: 42px;
    width: 300px !important;
    padding: 0 10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.1) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    border: none;
    left: -10px;
}

.notify-row .notification span.label {
    display: inline-block;
    height: 21px;
    padding: 5px;
    width: 22px;
    font-size: 12px;
    margin-right: 10px;
}

.dropdown-menu.extended .alert-icon, .noti-info {
    float: left;
}

.noti-info {
    padding-left: 10px;
    padding-top: 6px;
    color: #414147;
}

.dropdown-menu.extended .alert {
    margin-bottom: 10px;
}

.dropdown-menu.extended .alert-icon {
    border-radius: 100%;
    display: inline-block;
    height: 35px;
    width: 35px;
}

    .dropdown-menu.extended .alert-icon i {
        font-size: 16px;
        width: 35px;
        line-height: 35px;
        height: 35px;
    }

.dropdown-menu.extended.inbox li a, .dropdown-menu.extended.tasks-bar li a {
    background: #f1f2f7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.dropdown-menu.extended li p {
    margin: 0;
    padding: 10px 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.dropdown-menu.extended li a {
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.extended.logout {
    padding: 10px;
}

    .dropdown-menu.extended.logout li a {
        padding: 10px;
    }

.dropdown-menu.extended li a:hover {
    color: #32323a;
}

.dropdown-menu.tasks-bar .task-info .desc {
    font-size: 13px;
    font-weight: normal;
    float: left;
    width: 80%;
}

    .dropdown-menu.tasks-bar .task-info .desc h5 {
        color: #32323a;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .dropdown-menu.tasks-bar .task-info .desc p {
        padding-top: 0;
        color: #8f8f9b;
        font-weight: 300;
    }

.dropdown-menu.tasks-bar .task-info .percent {
    width: 20%;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    line-height: normal;
}

.dropdown-menu.tasks-bar .progress {
    background: #fff;
}

.dropdown-menu.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

    .dropdown-menu.inbox li a .subject .from {
        font-size: 12px;
        font-weight: 600;
    }

    .dropdown-menu.inbox li a .subject .time {
        font-size: 11px;
        font-style: italic;
        font-weight: bold;
        position: absolute;
        right: 20px;
    }

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
}

.top-nav {
    margin-top: 20px;
}

    .top-nav img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 33px;
    }

    .top-nav .icon-user i {
        height: 33px;
        width: 33px;
        line-height: 33px;
        display: inline-block;
        font-size: 1.7em;
        padding-left: 10px;
    }

    .top-nav .icon-user .username {
        color: #555555;
        font-size: 13px;
        position: relative;
        top: -5px;
    }

    .top-nav .icon-user .caret {
        position: relative;
        top: -4px;
    }

    .top-nav ul.top-menu > li .dropdown-menu.logout {
        width: 170px !important;
    }

    .top-nav li.dropdown .dropdown-menu {
        float: right;
        right: 0;
        left: auto;
    }

.dropdown-menu.extended.logout > li {
    float: left;
    width: 100%;
}

.log-arrow-up {
    background: url("../images/top-arrow.png") no-repeat;
    width: 18px;
    height: 10px;
    margin-top: -20px;
    float: right;
    margin-right: 15px;
}

.dropdown-menu.extended.logout > li > a {
    border-bottom: none !important;
}

.full-width .dropdown-menu.extended.logout > li > a:hover {
    background: #F1F2F7 !important;
    color: #32323a !important;
}

.dropdown-menu.extended.logout > li > a:hover {
    background: #F1F2F7 !important;
    border-radius: 5px;
}

    .dropdown-menu.extended.logout > li > a:hover i {
        color: #ffa2a2;
    }

.dropdown-menu.extended.logout > li > a i {
    font-size: 17px;
}

.dropdown-menu.extended.logout > li > a > i {
    padding-right: 10px;
}

.top-nav .username {
    font-size: 13px;
    color: #000;
}

.top-nav ul.top-menu > li > a {
    /* border-radius: 100px; */
    -webkit-border-radius: 100px;
    padding: 0px;
    /* background: none; */
    margin-right: 0;
    border: 1px solid #8b5c7e;
    background: #ffffff;
}

.top-nav ul.top-menu > li.language > a {
    margin-top: -2px;
    padding: 4px 12px;
    line-height: 20px;
}

    .top-nav ul.top-menu > li.language > a img {
        border-radius: 0;
        -webkit-border-radius: 0;
        width: 18px;
    }

.top-nav ul.top-menu > li.language ul.dropdown-menu li img {
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 18px;
}

.top-nav ul.top-menu > li {
    margin-left: 10px;
}

    .top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
        border: 1px solid #fa9fa4;
        background: #fa9fa4 !important;
        border-radius: 100px;
        -webkit-border-radius: 100px;
    }

.top-nav .dropdown-menu.extended.logout {
    top: 50px;
}

.top-nav .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
}

.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #000;
    border-top-color: #000;
}
/*form*/
.position-center {
    width: 62%;
    margin: 0 auto;
}
/*----*/
.notify-arrow {
    background: url("../images/top-arrow.png") no-repeat;
    width: 18px;
    height: 10px;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    left: 16px;
    top: -20px;
    transition: all 0.25s ease 0s;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}
/*search*/
.search {
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #8b5c7e;
    box-shadow: none;
    background: #8b5c7e url(../images/search-icon.png) no-repeat 10px 8px;
    padding: 0 5px 0 30px;
    color: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    cursor: pointer;
}

    .search:focus {
        width: 180px;
        border: 1px solid #8b5c7e;
        box-shadow: none;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        color: #c8c8c8;
        font-weight: 300;
    }

.todo-search:focus {
    width: 100% !important;
}
/*--sidebar toggle---*/
.sidebar-toggle-box {
    float: left;
    margin-top: 23px;
    margin-left: -15px;
    background: #8b5c7e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -15px;
}

    .sidebar-toggle-box .fa-bars {
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        padding: 8px 8px 8px 9px;
        color: #fff;
    }

    .sidebar-toggle-box:hover {
        background: #fa9fa4;
    }

.hide-left-bar {
    margin-left: -240px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.open-right-bar {
    right: 0px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.merge-left {
    margin-left: 0px !important;
}

.hide-right-bar {
    margin-right: -240px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.toggle-right-box {
    float: left;
    background: #f6f6f6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 35px;
    height: 35px;
}

    .toggle-right-box:hover {
        background: #ffa2a2;
    }

        .toggle-right-box:hover .fa-bars {
            color: rgba(0,0,0,0.3);
        }

    .toggle-right-box .fa-bars {
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        padding: 10px;
        color: #bfbfc1;
    }
/*--market--*/
.market-update-block {
    padding: 2em 2em;
    background: #999;
}

    .market-update-block h3 {
        color: #fff;
        font-size: 2em;
    }

    .market-update-block h4 {
        font-size: 1.2em;
        color: #fff;
        margin: 0.3em 0em;
    }

    .market-update-block p {
        color: #fff;
        font-size: 0.8em;
        line-height: 1.8em;
    }

    .market-update-block.clr-block-1 {
        background: #53d769;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-2 {
        background: #fc3158;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-3 {
        background: #147efb;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-4 {
        background: #2a2727;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-1:hover {
        background: #8b5c7e;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-2:hover {
        background: #8b5c7e;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-3:hover {
        background: #8b5c7e;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-4:hover {
        background: #8b5c7e;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.market-update-right i.fa.fa-users {
    font-size: 3em;
    color: #fff;
    text-align: left;
}

.market-update-right i.fa.fa-eye {
    font-size: 3em;
    color: #fff;
    text-align: left;
}

.market-update-right i.fa.fa-usd {
    font-size: 3em;
    color: #fff;
    text-align: left;
}

.market-update-right i.fa.fa-shopping-cart {
    font-size: 3em;
    color: #fff;
    text-align: left;
}

.market-update-left {
    padding: 0px;
}

.market-update-right {
    padding-left: 0;
}

.market-updates {
    margin: 1.5em 0;
}
/*--market--*/
.panel-heading {
    position: relative;
    height: 57px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding: 0 16px;
    background: #ddede0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    text-transform: uppercase;
    text-align: center;
}

.panel {
    border: none !important;
}

.agileinfo-grap {
    padding: 2em;
    background: rgb(238, 249, 240);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}




